<nav>
  <ol>
    <li>
      <a routerlink="">
        <i class="material-icons">supervised_user_circle</i>
      </a>
    </li>
    <li>
      <a routerlink="posts">
        <i class="material-icon">message</i>
      </a>
    </li>
  </ol>
</nav>